{{> nav username=user.username collections=collections}}
<h1>Your Book Collection</h1>
{{#if user.username}}
    {{> collections collections=collections}}
    {{#if books}}
        {{> books books=books collections=collections}}
    {{/if}}
    {{> addBooks }}
    {{#if showAddForm }}
        {{> addForm collections=collections}}
    {{/if}}
{{else}}
    <p id="entry-message">Please login to access your collections.</p>
{{/if}}